
# Настройка окончаний строк для проекта 1С
*.xml text eol=crlf
*.bsl text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
*.sql text eol=crlf
*.json text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.cfg text eol=crlf
*.conf text eol=crlf
*.ini text eol=crlf
*.log text eol=crlf
*.csv text eol=crlf
*.tsv text eol=crlf
*.xml.bak text eol=crlf
*.bsl.bak text eol=crlf
*.txt.bak text eol=crlf
*.xml~ text eol=crlf
*.bsl~ text eol=crlf
*.txt~ text eol=crlf
*.xml.orig text eol=crlf
*.bsl.orig text eol=crlf
*.txt.orig text eol=crlf
*.xml.rej text eol=crlf
*.bsl.rej text eol=crlf
*.txt.rej text eol=crlf
*.xml.swp text eol=crlf
*.bsl.swp text eol=crlf
*.txt.swp text eol=crlf
*.xml.swo text eol=crlf
*.bsl.swo text eol=crlf
*.txt.swo text eol=crlf
*.xml.tmp text eol=crlf
*.bsl.tmp text eol=crlf
*.txt.tmp text eol=crlf
*.xml.temp text eol=crlf
*.bsl.temp text eol=crlf
*.txt.temp text eol=crlf
*.xml.bak1 text eol=crlf
*.bsl.bak1 text eol=crlf
*.txt.bak1 text eol=crlf
*.xml.bak2 text eol=crlf
*.bsl.bak2 text eol=crlf
*.txt.bak2 text eol=crlf
*.xml.bak3 text eol=crlf
*.bsl.bak3 text eol=crlf
*.txt.bak3 text eol=crlf
*.xml.bak4 text eol=crlf
*.bsl.bak4 text eol=crlf
*.txt.bak4 text eol=crlf
*.xml.bak5 text eol=crlf
*.bsl.bak5 text eol=crlf
*.txt.bak5 text eol=crlf
*.xml.bak6 text eol=crlf
*.bsl.bak6 text eol=crlf
*.txt.bak6 text eol=crlf
*.xml.bak7 text eol=crlf
*.bsl.bak7 text eol=crlf
*.txt.bak7 text eol=crlf
*.xml.bak8 text eol=crlf
*.bsl.bak8 text eol=crlf
*.txt.bak8 text eol=crlf
*.xml.bak9 text eol=crlf
*.bsl.bak9 text eol=crlf
*.txt.bak9 text eol=crlf
*.xml.bak10 text eol=crlf
*.bsl.bak10 text eol=crlf
*.txt.bak10 text eol=crlf
*.xml.bak11 text eol=crlf
*.bsl.bak11 text eol=crlf
*.txt.bak11 text eol=crlf
*.xml.bak12 text eol=crlf
*.bsl.bak12 text eol=crlf
*.txt.bak12 text eol=crlf
*.xml.bak13 text eol=crlf
*.bsl.bak13 text eol=crlf
*.txt.bak13 text eol=crlf
*.xml.bak14 text eol=crlf
*.bsl.bak14 text eol=crlf
*.txt.bak14 text eol=crlf
*.xml.bak15 text eol=crlf
*.bsl.bak15 text eol=crlf
*.txt.bak15 text eol=crlf
*.xml.bak16 text eol=crlf
*.bsl.bak16 text eol=crlf
*.txt.bak16 text eol=crlf
*.xml.bak17 text eol=crlf
*.bsl.bak17 text eol=crlf
*.txt.bak17 text eol=crlf
*.xml.bak18 text eol=crlf
*.bsl.bak18 text eol=crlf
*.txt.bak18 text eol=crlf
*.xml.bak19 text eol=crlf
*.bsl.bak19 text eol=crlf
*.txt.bak19 text eol=crlf
*.xml.bak20 text eol=crlf
*.bsl.bak20 text eol=crlf
*.txt.bak20 text eol=crlf
*.xml.bak21 text eol=crlf
*.bsl.bak21 text eol=crlf
*.txt.bak21 text eol=crlf
*.xml.bak22 text eol=crlf
*.bsl.bak22 text eol=crlf
*.txt.bak22 text eol=crlf
*.xml.bak23 text eol=crlf
*.bsl.bak23 text eol=crlf
*.txt.bak23 text eol=crlf
*.xml.bak24 text eol=crlf
*.bsl.bak24 text eol=crlf
*.txt.bak24 text eol=crlf
*.xml.bak25 text eol=crlf
*.bsl.bak25 text eol=crlf
*.txt.bak25 text eol=crlf
*.xml.bak26 text eol=crlf
*.bsl.bak26 text eol=crlf
*.txt.bak26 text eol=crlf
*.xml.bak27 text eol=crlf
*.bsl.bak27 text eol=crlf
*.txt.bak27 text eol=crlf
*.xml.bak28 text eol=crlf
*.bsl.bak28 text eol=crlf
*.txt.bak28 text eol=crlf
*.xml.bak29 text eol=crlf
*.bsl.bak29 text eol=crlf
*.txt.bak29 text eol=crlf
*.xml.bak30 text eol=crlf
*.bsl.bak30 text eol=crlf
*.txt.bak30 text eol=crlf
*.xml.bak31 text eol=crlf
*.bsl.bak31 text eol=crlf
*.txt.bak31 text eol=crlf
*.xml.bak32 text eol=crlf
*.bsl.bak32 text eol=crlf
*.txt.bak32 text eol=crlf
*.xml.bak33 text eol=crlf
*.bsl.bak33 text eol=crlf
*.txt.bak33 text eol=crlf
*.xml.bak34 text eol=crlf
*.bsl.bak34 text eol=crlf
*.txt.bak34 text eol=crlf
*.xml.bak35 text eol=crlf
*.bsl.bak35 text eol=crlf
*.txt.bak35 text eol=crlf
*.xml.bak36 text eol=crlf
*.bsl.bak36 text eol=crlf
*.txt.bak36 text eol=crlf
*.xml.bak37 text eol=crlf
*.bsl.bak37 text eol=crlf
*.txt.bak37 text eol=crlf
*.xml.bak38 text eol=crlf
*.bsl.bak38 text eol=crlf
*.txt.bak38 text eol=crlf
*.xml.bak39 text eol=crlf
*.bsl.bak39 text eol=crlf
*.txt.bak39 text eol=crlf
*.xml.bak40 text eol=crlf
*.bsl.bak40 text eol=crlf
*.txt.bak40 text eol=crlf
*.xml.bak41 text eol=crlf
*.bsl.bak41 text eol=crlf
*.txt.bak41 text eol=crlf
*.xml.bak42 text eol=crlf
*.bsl.bak42 text eol=crlf
*.txt.bak42 text eol=crlf
*.xml.bak43 text eol=crlf
*.bsl.bak43 text eol=crlf
*.txt.bak43 text eol=crlf
*.xml.bak44 text eol=crlf
*.bsl.bak44 text eol=crlf
*.txt.bak44 text eol=crlf
*.xml.bak45 text eol=crlf
*.bsl.bak45 text eol=crlf
*.txt.bak45 text eol=crlf
*.xml.bak46 text eol=crlf
*.bsl.bak46 text eol=crlf
*.txt.bak46 text eol=crlf
*.xml.bak47 text eol=crlf
*.bsl.bak47 text eol=crlf
*.txt.bak47 text eol=crlf
*.xml.bak48 text eol=crlf
*.bsl.bak48 text eol=crlf
*.txt.bak48 text eol=crlf
*.xml.bak49 text eol=crlf
*.bsl.bak49 text eol=crlf
*.txt.bak49 text eol=crlf
*.xml.bak50 text eol=crlf
*.bsl.bak50 text eol=crlf
*.txt.bak50 text eol=crlf
*.xml.bak51 text eol=crlf
*.bsl.bak51 text eol=crlf
*.txt.bak51 text eol=crlf
*.xml.bak52 text eol=crlf
*.bsl.bak52 text eol=crlf
*.txt.bak52 text eol=crlf
*.xml.bak53 text eol=crlf
*.bsl.bak53 text eol=crlf
*.txt.bak53 text eol=crlf
*.xml.bak54 text eol=crlf
*.bsl.bak54 text eol=crlf
*.txt.bak54 text eol=crlf
*.xml.bak55 text eol=crlf
*.bsl.bak55 text eol=crlf
*.txt.bak55 text eol=crlf
*.xml.bak56 text eol=crlf
*.bsl.bak56 text eol=crlf
*.txt.bak56 text eol=crlf
*.xml.bak57 text eol=crlf
*.bsl.bak57 text eol=crlf
*.txt.bak57 text eol=crlf
*.xml.bak58 text eol=crlf
*.bsl.bak58 text eol=crlf
*.txt.bak58 text eol=crlf
*.xml.bak59 text eol=crlf
*.bsl.bak59 text eol=crlf
*.txt.bak59 text eol=crlf
*.xml.bak60 text eol=crlf
*.bsl.bak60 text eol=crlf
*.txt.bak60 text eol=crlf
*.xml.bak61 text eol=crlf
*.bsl.bak61 text eol=crlf
*.txt.bak61 text eol=crlf
*.xml.bak62 text eol=crlf
*.bsl.bak62 text eol=crlf
*.txt.bak62 text eol=crlf
*.xml.bak63 text eol=crlf
*.bsl.bak63 text eol=crlf
*.txt.bak63 text eol=crlf
*.xml.bak64 text eol=crlf
*.bsl.bak64 text eol=crlf
*.txt.bak64 text eol=crlf
*.xml.bak65 text eol=crlf
*.bsl.bak65 text eol=crlf
*.txt.bak65 text eol=crlf
*.xml.bak66 text eol=crlf
*.bsl.bak66 text eol=crlf
*.txt.bak66 text eol=crlf
*.xml.bak67 text eol=crlf
*.bsl.bak67 text eol=crlf
*.txt.bak67 text eol=crlf
*.xml.bak68 text eol=crlf
*.bsl.bak68 text eol=crlf
*.txt.bak68 text eol=crlf
*.xml.bak69 text eol=crlf
*.bsl.bak69 text eol=crlf
*.txt.bak69 text eol=crlf
*.xml.bak70 text eol=crlf
*.bsl.bak70 text eol=crlf
*.txt.bak70 text eol=crlf
*.xml.bak71 text eol=crlf
*.bsl.bak71 text eol=crlf
*.txt.bak71 text eol=crlf
*.xml.bak72 text eol=crlf
*.bsl.bak72 text eol=crlf
*.txt.bak72 text eol=crlf
*.xml.bak73 text eol=crlf
*.bsl.bak73 text eol=crlf
*.txt.bak73 text eol=crlf
*.xml.bak74 text eol=crlf
*.bsl.bak74 text eol=crlf
*.txt.bak74 text eol=crlf
*.xml.bak75 text eol=crlf
*.bsl.bak75 text eol=crlf
*.txt.bak75 text eol=crlf
*.xml.bak76 text eol=crlf
*.bsl.bak76 text eol=crlf
*.txt.bak76 text eol=crlf
*.xml.bak77 text eol=crlf
*.bsl.bak77 text eol=crlf
*.txt.bak77 text eol=crlf
*.xml.bak78 text eol=crlf
*.bsl.bak78 text eol=crlf
*.txt.bak78 text eol=crlf
*.xml.bak79 text eol=crlf
*.bsl.bak79 text eol=crlf
*.txt.bak79 text eol=crlf
*.xml.bak80 text eol=crlf
*.bsl.bak80 text eol=crlf
*.txt.bak80 text eol=crlf
*.xml.bak81 text eol=crlf
*.bsl.bak81 text eol=crlf
*.txt.bak81 text eol=crlf
*.xml.bak82 text eol=crlf
*.bsl.bak82 text eol=crlf
*.txt.bak82 text eol=crlf
*.xml.bak83 text eol=crlf
*.bsl.bak83 text eol=crlf
*.txt.bak83 text eol=crlf
*.xml.bak84 text eol=crlf
*.bsl.bak84 text eol=crlf
*.txt.bak84 text eol=crlf
*.xml.bak85 text eol=crlf
*.bsl.bak85 text eol=crlf
*.txt.bak85 text eol=crlf
*.xml.bak86 text eol=crlf
*.bsl.bak86 text eol=crlf
*.txt.bak86 text eol=crlf
*.xml.bak87 text eol=crlf
*.bsl.bak87 text eol=crlf
*.txt.bak87 text eol=crlf
*.xml.bak88 text eol=crlf
*.bsl.bak88 text eol=crlf
*.txt.bak88 text eol=crlf
*.xml.bak89 text eol=crlf
*.bsl.bak89 text eol=crlf
*.txt.bak89 text eol=crlf
*.xml.bak90 text eol=crlf
*.bsl.bak90 text eol=crlf
*.txt.bak90 text eol=crlf
*.xml.bak91 text eol=crlf
*.bsl.bak91 text eol=crlf
*.txt.bak91 text eol=crlf
*.xml.bak92 text eol=crlf
*.bsl.bak92 text eol=crlf
*.txt.bak92 text eol=crlf
*.xml.bak93 text eol=crlf
*.bsl.bak93 text eol=crlf
*.txt.bak93 text eol=crlf
*.xml.bak94 text eol=crlf
*.bsl.bak94 text eol=crlf
*.txt.bak94 text eol=crlf
*.xml.bak95 text eol=crlf
*.bsl.bak95 text eol=crlf
*.txt.bak95 text eol=crlf
*.xml.bak96 text eol=crlf
*.bsl.bak96 text eol=crlf
*.txt.bak96 text eol=crlf
*.xml.bak97 text eol=crlf
*.bsl.bak97 text eol=crlf
*.txt.bak97 text eol=crlf
*.xml.bak98 text eol=crlf
*.bsl.bak98 text eol=crlf
*.txt.bak98 text eol=crlf
*.xml.bak99 text eol=crlf
*.bsl.bak99 text eol=crlf
*.txt.bak99 text eol=crlf
*.xml.bak100 text eol=crlf
*.bsl.bak100 text eol=crlf
*.txt.bak100 text eol=crlf
*.xml.bak101 text eol=crlf
*.bsl.bak101 text eol=crlf
*.txt.bak101 text eol=crlf
*.xml.bak102 text eol=crlf
*.bsl.bak102 text eol=crlf
*.txt.bak102 text eol=crlf
*.xml.bak103 text eol=crlf
*.bsl.bak103 text eol=crlf
*.txt.bak103 text eol=crlf
*.xml.bak104 text eol=crlf
*.bsl.bak104 text eol=crlf
*.txt.bak104 text eol=crlf
*.xml.bak105 text eol=crlf
*.bsl.bak105 text eol=crlf
*.txt.bak105 text eol=crlf
*.xml.bak106 text eol=crlf
*.bsl.bak106 text eol=crlf
*.txt.bak106 text eol=crlf
*.xml.bak107 text eol=crlf
*.bsl.bak107 text eol=crlf
*.txt.bak107 text eol=crlf
*.xml.bak108 text eol=crlf
*.bsl.bak108 text eol=crlf
*.txt.bak108 text eol=crlf
*.xml.bak109 text eol=crlf
*.bsl.bak109 text eol=crlf
*.txt.bak109 text eol=crlf
*.xml.bak110 text eol=crlf
*.bsl.bak110 text eol=crlf
*.txt.bak110 text eol=crlf
*.xml.bak111 text eol=crlf
*.bsl.bak111 text eol=crlf
*.txt.bak111 text eol=crlf
*.xml.bak112 text eol=crlf
*.bsl.bak112 text eol=crlf
*.txt.bak112 text eol=crlf
*.xml.bak113 text eol=crlf
*.bsl.bak113 text eol=crlf
*.txt.bak113 text eol=crlf
*.xml.bak114 text eol=crlf
*.bsl.bak114 text eol=crlf
*.txt.bak114 text eol=crlf
*.xml.bak115 text eol=crlf
*.bsl.bak115 text eol=crlf
*.txt.bak115 text eol=crlf
*.xml.bak116 text eol=crlf
*.bsl.bak116 text eol=crlf
*.txt.bak116 text eol=crlf
*.xml.bak117 text eol=crlf
*.bsl.bak117 text eol=crlf
*.txt.bak117 text eol=crlf
*.xml.bak118 text eol=crlf
*.bsl.bak118 text eol=crlf
*.txt.bak118 text eol=crlf
*.xml.bak119 text eol=crlf
*.bsl.bak119 text eol=crlf
*.txt.bak119 text eol=crlf
*.xml.bak120 text eol=crlf
*.bsl.bak120 text eol=crlf
*.txt.bak120 text eol=crlf
*.xml.bak121 text eol=crlf
*.bsl.bak121 text eol=crlf
*.txt.bak121 text eol=crlf
*.xml.bak122 text eol=crlf
*.bsl.bak122 text eol=crlf
*.txt.bak122 text eol=crlf
*.xml.bak123 text eol=crlf
*.bsl.bak123 text eol=crlf
*.txt.bak123 text eol=crlf
*.xml.bak124 text eol=crlf
*.bsl.bak124 text eol=crlf
*.txt.bak124 text eol=crlf
*.xml.bak125 text eol=crlf
*.bsl.bak125 text eol=crlf
*.txt.bak125 text eol=crlf
*.xml.bak126 text eol=crlf
*.bsl.bak126 text eol=crlf
*.txt.bak126 text eol=crlf
*.xml.bak127 text eol=crlf
*.bsl.bak127 text eol=crlf
*.txt.bak127 text eol=crlf
*.xml.bak128 text eol=crlf
*.bsl.bak128 text eol=crlf
*.txt.bak128 text eol=crlf
*.xml.bak129 text eol=crlf
*.bsl.bak129 text eol=crlf
*.txt.bak129 text eol=crlf
*.xml.bak130 text eol=crlf
*.bsl.bak130 text eol=crlf
*.txt.bak130 text eol=crlf
*.xml.bak131 text eol=crlf
*.bsl.bak131 text eol=crlf
*.txt.bak131 text eol=crlf
*.xml.bak132 text eol=crlf
*.bsl.bak132 text eol=crlf
*.txt.bak132 text eol=crlf
*.xml.bak133 text eol=crlf
*.bsl.bak133 text eol=crlf
*.txt.bak133 text eol=crlf
*.xml.bak134 text eol=crlf
*.bsl.bak134 text eol=crlf
*.txt.bak134 text eol=crlf
*.xml.bak135 text eol=crlf
*.bsl.bak135 text eol=crlf
*.txt.bak135 text eol=crlf
*.xml.bak136 text eol=crlf
*.bsl.bak136 text eol=crlf
*.txt.bak136 text eol=crlf
*.xml.bak137 text eol=crlf
*.bsl.bak137 text eol=crlf
*.txt.bak137 text eol=crlf
*.xml.bak138 text eol=crlf
*.bsl.bak138 text eol=crlf
*.txt.bak138 text eol=crlf
*.xml.bak139 text eol=crlf
*.bsl.bak139 text eol=crlf
*.txt.bak139 text eol=crlf
*.xml.bak140 text eol=crlf
*.bsl.bak140 text eol=crlf
*.txt.bak140 text eol=crlf
*.xml.bak141 text eol=crlf
*.bsl.bak141 text eol=crlf
*.txt.bak141 text eol=crlf
*.xml.bak142 text eol=crlf
*.bsl.bak142 text eol=crlf
*.txt.bak142 text eol=crlf
*.xml.bak143 text eol=crlf
*.bsl.bak143 text eol=crlf
*.txt.bak143 text eol=crlf
*.xml.bak144 text eol=crlf
*.bsl.bak144 text eol=crlf
*.txt.bak144 text eol=crlf
*.xml.bak145 text eol=crlf
*.bsl.bak145 text eol=crlf
*.txt.bak145 text eol=crlf
*.xml.bak146 text eol=crlf
*.bsl.bak146 text eol=crlf
*.txt.bak146 text eol=crlf
*.xml.bak147 text eol=crlf
*.bsl.bak147 text eol=crlf
*.txt.bak147 text eol=crlf
*.xml.bak148 text eol=crlf
*.bsl.bak148 text eol=crlf
*.txt.bak148 text eol=crlf
*.xml.bak149 text eol=crlf
*.bsl.bak149 text eol=crlf
*.txt.bak149 text eol=crlf
*.xml.bak150 text eol=crlf
*.bsl.bak150 text eol=crlf
*.txt.bak150 text eol=crlf
*.xml.bak151 text eol=crlf
*.bsl.bak151 text eol=crlf
*.txt.bak151 text eol=crlf
*.xml.bak152 text eol=crlf
*.bsl.bak152 text eol=crlf
*.txt.bak152 text eol=crlf
*.xml.bak153 text eol=crlf
*.bsl.bak153 text eol=crlf
*.txt.bak153 text eol=crlf
*.xml.bak154 text eol=crlf
*.bsl.bak154 text eol=crlf
*.txt.bak154 text eol=crlf
*.xml.bak155 text eol=crlf
*.bsl.bak155 text eol=crlf
*.txt.bak155 text eol=crlf
*.xml.bak156 text eol=crlf
*.bsl.bak156 text eol=crlf
*.txt.bak156 text eol=crlf
*.xml.bak157 text eol=crlf
*.bsl.bak157 text eol=crlf
*.txt.bak157 text eol=crlf
*.xml.bak158 text eol=crlf
*.bsl.bak158 text eol=crlf
*.txt.bak158 text eol=crlf
*.xml.bak159 text eol=crlf
*.bsl.bak159 text eol=crlf
*.txt.bak159 text eol=crlf
*.xml.bak160 text eol=crlf
*.bsl.bak160 text eol=crlf
*.txt.bak160 text eol=crlf
*.xml.bak161 text eol=crlf
*.bsl.bak161 text eol=crlf
*.txt.bak161 text eol=crlf
*.xml.bak162 text eol=crlf
*.bsl.bak162 text eol=crlf
*.txt.bak162 text eol=crlf
*.xml.bak163 text eol=crlf
*.bsl.bak163 text eol=crlf
*.txt.bak163 text eol=crlf
*.xml.bak164 text eol=crlf
*.bsl.bak164 text eol=crlf
*.txt.bak164 text eol=crlf
*.xml.bak165 text eol=crlf
*.bsl.bak165 text eol=crlf
*.txt.bak165 text eol=crlf
*.xml.bak166 text eol=crlf
*.bsl.bak166 text eol=crlf
*.txt.bak166 text eol=crlf
*.xml.bak167 text eol=crlf
*.bsl.bak167 text eol=crlf
*.txt.bak167 text eol=crlf
*.xml.bak168 text eol=crlf
*.bsl.bak168 text eol=crlf
*.txt.bak168 text eol=crlf
*.xml.bak169 text eol=crlf
*.bsl.bak169 text eol=crlf
*.txt.bak169 text eol=crlf
*.xml.bak170 text eol=crlf
*.bsl.bak170 text eol=crlf
*.txt.bak170 text eol=crlf
*.xml.bak171 text eol=crlf
*.bsl.bak171 text eol=crlf
*.txt.bak171 text eol=crlf
*.xml.bak172 text eol=crlf
*.bsl.bak172 text eol=crlf
*.txt.bak172 text eol=crlf
*.xml.bak173 text eol=crlf
*.bsl.bak173 text eol=crlf
*.txt.bak173 text eol=crlf
*.xml.bak174 text eol=crlf
*.bsl.bak174 text eol=crlf
*.txt.bak174 text eol=crlf
*.xml.bak175 text eol=crlf
*.bsl.bak175 text eol=crlf
*.txt.bak175 text eol=crlf
*.xml.bak176 text eol=crlf
*.bsl.bak176 text eol=crlf
*.txt.bak176 text eol=crlf
*.xml.bak177 text eol=crlf
*.bsl.bak177 text eol=crlf
*.txt.bak177 text eol=crlf
*.xml.bak178 text eol=crlf
*.bsl.bak178 text eol=crlf
*.txt.bak178 text eol=crlf
*.xml.bak179 text eol=crlf
*.bsl.bak179 text eol=crlf
*.txt.bak179 text eol=crlf
*.xml.bak180 text eol=crlf
*.bsl.bak180 text eol=crlf
*.txt.bak180 text eol=crlf
*.xml.bak181 text eol=crlf
*.bsl.bak181 text eol=crlf
*.txt.bak181 text eol=crlf
*.xml.bak182 text eol=crlf
*.bsl.bak182 text eol=crlf
*.txt.bak182 text eol=crlf
*.xml.bak183 text eol=crlf
*.bsl.bak183 text eol=crlf
*.txt.bak183 text eol=crlf
*.xml.bak184 text eol=crlf
*.bsl.bak184 text eol=crlf
*.txt.bak184 text eol=crlf
*.xml.bak185 text eol=crlf
*.bsl.bak185 text eol=crlf
*.txt.bak185 text eol=crlf
*.xml.bak186 text eol=crlf
*.bsl.bak186 text eol=crlf
*.txt.bak186 text eol=crlf
*.xml.bak187 text eol=crlf
*.bsl.bak187 text eol=crlf
*.txt.bak187 text eol=crlf
*.xml.bak188 text eol=crlf
*.bsl.bak188 text eol=crlf
*.txt.bak188 text eol=crlf
*.xml.bak189 text eol=crlf
*.bsl.bak189 text eol=crlf
*.txt.bak189 text eol=crlf
*.xml.bak190 text eol=crlf
*.bsl.bak190 text eol=crlf
*.txt.bak190 text eol=crlf
*.xml.bak191 text eol=crlf
*.bsl.bak191 text eol=crlf
*.txt.bak191 text eol=crlf
*.xml.bak192 text eol=crlf
*.bsl.bak192 text eol=crlf
*.txt.bak192 text eol=crlf
*.xml.bak193 text eol=crlf
*.bsl.bak193 text eol=crlf
*.txt.bak193 text eol=crlf
*.xml.bak194 text eol=crlf
*.bsl.bak194 text eol=crlf
*.txt.bak194 text eol=crlf
*.xml.bak195 text eol=crlf
*.bsl.bak195 text eol=crlf
*.txt.bak195 text eol=crlf
*.xml.bak196 text eol=crlf
*.bsl.bak196 text eol=crlf
*.txt.bak196 text eol=crlf
*.xml.bak197 text eol=crlf
*.bsl.bak197 text eol=crlf
*.txt.bak197 text eol=crlf
*.xml.bak198 text eol=crlf
*.bsl.bak198 text eol=crlf
*.txt.bak198 text eol=crlf
*.xml.bak199 text eol=crlf
*.bsl.bak199 text eol=crlf
*.txt.bak199 text eol=crlf
*.xml.bak200 text eol=crlf
*.bsl.bak200 text eol=crlf
*.txt.bak200 text eol=crlf
*.xml.bak201 text eol=crlf
*.bsl.bak201 text eol=crlf
*.txt.bak201 text eol=crlf
*.xml.bak202 text eol=crlf
*.bsl.bak202 text eol=crlf
*.txt.bak202 text eol=crlf
*.xml.bak203 text eol=crlf
*.bsl.bak203 text eol=crlf
*.txt.bak203 text eol=crlf
*.xml.bak204 text eol=crlf
*.bsl.bak204 text eol=crlf
*.txt.bak204 text eol=crlf
*.xml.bak205 text eol=crlf
*.bsl.bak205 text eol=crlf
*.txt.bak205 text eol=crlf
*.xml.bak206 text eol=crlf
*.bsl.bak206 text eol=crlf
*.txt.bak206 text eol=crlf
*.xml.bak207 text eol=crlf
*.bsl.bak207 text eol=crlf
*.txt.bak207 text eol=crlf
*.xml.bak208 text eol=crlf
*.bsl.bak208 text eol=crlf
*.txt.bak208 text eol=crlf
*.xml.bak209 text eol=crlf
*.bsl.bak209 text eol=crlf
*.txt.bak209 text eol=crlf
*.xml.bak210 text eol=crlf
*.bsl.bak210 text eol=crlf
*.txt.bak210 text eol=crlf
*.xml.bak211 text eol=crlf
*.bsl.bak211 text eol=crlf
*.txt.bak211 text eol=crlf
*.xml.bak212 text eol=crlf
*.bsl.bak212 text eol=crlf
*.txt.bak212 text eol=crlf
*.xml.bak213 text eol=crlf
*.bsl.bak213 text eol=crlf
*.txt.bak213 text eol=crlf
*.xml.bak214 text eol=crlf
*.bsl.bak214 text eol=crlf
*.txt.bak214 text eol=crlf
*.xml.bak215 text eol=crlf
*.bsl.bak215 text eol=crlf
*.txt.bak215 text eol=crlf
*.xml.bak216 text eol=crlf
*.bsl.bak216 text eol=crlf
*.txt.bak216 text eol=crlf
*.xml.bak217 text eol=crlf
*.bsl.bak217 text eol=crlf
*.txt.bak217 text eol=crlf
*.xml.bak218 text eol=crlf
*.bsl.bak218 text eol=crlf
*.txt.bak218 text eol=crlf
*.xml.bak219 text eol=crlf
*.bsl.bak219 text eol=crlf
*.txt.bak219 text eol=crlf
*.xml.bak220 text eol=crlf
*.bsl.bak220 text eol=crlf
*.txt.bak220 text eol=crlf
*.xml.bak221 text eol=crlf
*.bsl.bak221 text eol=crlf
*.txt.bak221 text eol=crlf
*.xml.bak222 text eol=crlf
*.bsl.bak222 text eol=crlf
*.txt.bak222 text eol=crlf
*.xml.bak223 text eol=crlf
*.bsl.bak223 text eol=crlf
*.txt.bak223 text eol=crlf
*.xml.bak224 text eol=crlf
*.bsl.bak224 text eol=crlf
*.txt.bak224 text eol=crlf
*.xml.bak225 text eol=crlf
*.bsl.bak225 text eol=crlf
*.txt.bak225 text eol=crlf
*.xml.bak226 text eol=crlf
*.bsl.bak226 text eol=crlf
*.txt.bak226 text eol=crlf
*.xml.bak227 text eol=crlf
*.bsl.bak227 text eol=crlf
*.txt.bak227 text eol=crlf
*.xml.bak228 text eol=crlf
*.bsl.bak228 text eol=crlf
*.txt.bak228 text eol=crlf
*.xml.bak229 text eol=crlf
*.bsl.bak229 text eol=crlf
*.txt.bak229 text eol=crlf
*.xml.bak230 text eol=crlf
*.bsl.bak230 text eol=crlf
*.txt.bak230 text eol=crlf
*.xml.bak231 text eol=crlf
*.bsl.bak231 text eol=crlf
*.txt.bak231 text eol=crlf
*.xml.bak232 text eol=crlf
*.bsl.bak232 text eol=crlf
*.txt.bak232 text eol=crlf
*.xml.bak233 text eol=crlf
*.bsl.bak233 text eol=crlf
*.txt.bak233 text eol=crlf
*.xml.bak234 text eol=crlf
*.bsl.bak234 text eol=crlf
*.txt.bak234 text eol=crlf
*.xml.bak235 text eol=crlf
*.bsl.bak235 text eol=crlf
*.txt.bak235 text eol=crlf
*.xml.bak236 text eol=crlf
*.bsl.bak236 text eol=crlf
*.txt.bak236 text eol=crlf
*.xml.bak237 text eol=crlf
*.bsl.bak237 text eol=crlf
*.txt.bak237 text eol=crlf
*.xml.bak238 text eol=crlf
*.bsl.bak238 text eol=crlf
*.txt.bak238 text eol=crlf
*.xml.bak239 text eol=crlf
*.bsl.bak239 text eol=crlf
*.txt.bak239 text eol=crlf
*.xml.bak240 text eol=crlf
*.bsl.bak240 text eol=crlf
*.txt.bak240 text eol=crlf
*.xml.bak241 text eol=crlf
*.bsl.bak241 text eol=crlf
*.txt.bak241 text eol=crlf
*.xml.bak242 text eol=crlf
*.bsl.bak242 text eol=crlf
*.txt.bak242 text eol=crlf
*.xml.bak243 text eol=crlf
*.bsl.bak243 text eol=crlf
*.txt.bak243 text eol=crlf
*.xml.bak244 text eol=crlf
*.bsl.bak244 text eol=crlf
*.txt.bak244 text eol=crlf
*.xml.bak245 text eol=crlf
*.bsl.bak245 text eol=crlf
*.txt.bak245 text eol=crlf
*.xml.bak246 text eol=crlf
*.bsl.bak246 text eol=crlf
*.txt.bak246 text eol=crlf
*.xml.bak247 text eol=crlf
*.bsl.bak247 text eol=crlf
*.txt.bak247 text eol=crlf
*.xml.bak248 text eol=crlf
*.bsl.bak248 text eol=crlf
*.txt.bak248 text eol=crlf
*.xml.bak249 text eol=crlf
*.bsl.bak249 text eol=crlf
*.txt.bak249 text eol=crlf
*.xml.bak250 text eol=crlf
*.bsl.bak250 text eol=crlf
*.txt.bak250 text eol=crlf
*.xml.bak251 text eol=crlf
*.bsl.bak251 text eol=crlf
*.txt.bak251 text eol=crlf
*.xml.bak252 text eol=crlf
*.bsl.bak252 text eol=crlf
*.txt.bak252 text eol=crlf
*.xml.bak253 text eol=crlf
*.bsl.bak253 text eol=crlf
*.txt.bak253 text eol=crlf
*.xml.bak254 text eol=crlf
*.bsl.bak254 text eol=crlf
*.txt.bak254 text eol=crlf
*.xml.bak255 text eol=crlf
*.bsl.bak255 text eol=crlf
*.txt.bak255 text eol=crlf
*.xml.bak256 text eol=crlf
*.bsl.bak256 text eol=crlf
*.txt.bak256 text eol=crlf
*.xml.bak257 text eol=crlf
*